body { background-color: #141414; }
#sweetMenu { background-color: #0d121f; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
header { box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }